
body{
    font-family: sans-serif;
    color: rgb(173, 165, 168);
}
header{
     text-align: center;
}


span{
    background-color: rgb(175, 141, 141);
    color: rgb(210, 107, 178);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
*{
  padding: 0;
  margin: 0;
}
p{
  margin: 10px 0px;
}

